# Boston Airbnb Open Data

This data set was obtained from [Kaggle](https://www.kaggle.com/datasets/airbnb/boston).

this dataset describes the listing activity of homestays in Boston, MA.

The following Airbnb activity is included in this Boston dataset:

 - Listings, including full descriptions and average review score
 - Reviews, including unique id for each reviewer and detailed comments
 - Calendar, including listing id and the price and availability for that day

# Boston Airbnb Data Aggregation

## Import Functions and load data

### Import cleaned listing data

In [1]:
import pandas as pd
import numpy as np

## Load the data for further analysis

#listing=pd.read_csv('airbnb_boston/listings_cleaned.csv')

listing=pd.read_csv('https://raw.githubusercontent.com/Suhong88/AA630_Spring2023/main/listings_cleaned.csv')

listing.head()

,id,listing_url,name,neighbourhood,city,state,zipcode,latitude,longitude,host_name,...,bed_type,amenities,price,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
0,12147973,https://www.airbnb.com/rooms/12147973,Sunny Bungalow in the City,Roslindale,Boston,MA,02131,42.282619,-71.133068,Virginia,...,Real Bed,"{TV,""Wireless Internet"",Kitchen,""Free Parking ...",250.0,91.916667,9.431571,9.258041,9.646293,9.646549,9.414043,9.168234
1,3075044,https://www.airbnb.com/rooms/3075044,Charming room in pet friendly apt,Roslindale,Boston,MA,02131,42.286241,-71.134374,Andrea,...,Real Bed,"{TV,Internet,""Wireless Internet"",""Air Conditio...",65.0,94.000000,10.000000,9.000000,10.000000,10.000000,9.000000,9.000000
2,6976,https://www.airbnb.com/rooms/6976,Mexican Folk Art Haven in Boston,Roslindale,Boston,MA,02131,42.292438,-71.135765,Phil,...,Real Bed,"{TV,""Cable TV"",""Wireless Internet"",""Air Condit...",65.0,98.000000,10.000000,9.000000,10.000000,10.000000,9.000000,10.000000
3,1436513,https://www.airbnb.com/rooms/1436513,Spacious Sunny Bedroom Suite in Historic Home,Roslindale,Boston,MA,NaN,42.281106,-71.121021,Meghna,...,Real Bed,"{TV,Internet,""Wireless Internet"",""Air Conditio...",75.0,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
4,7651065,https://www.airbnb.com/rooms/7651065,Come Home to Boston,Roslindale,Boston,MA,02131,42.284512,-71.136258,Linda,...,Real Bed,"{Internet,""Wireless Internet"",""Air Conditionin...",79.0,99.000000,10.000000,10.000000,10.000000,10.000000,9.000000,10.000000

### Import reviews data

- each reviewer can write multiple reviews
- listing and reviews are joined by id in the listing table, and listing_id in review table.

In [2]:
# reviews=pd.read_csv('airbnb_boston/reviews.csv')

reviews=pd.read_csv('https://raw.githubusercontent.com/Suhong88/AA630_Spring2023/main/airbnb_boston/reviews.csv')

reviews.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,1178162,4724140,2013-05-21,4298113,Olivier,My stay at islam's place was really cool! Good...
1,1178162,4869189,2013-05-29,6452964,Charlotte,Great location for both airport and city - gre...
2,1178162,5003196,2013-06-06,6449554,Sebastian,We really enjoyed our stay at Islams house. Fr...
3,1178162,5150351,2013-06-15,2215611,Marine,The room was nice and clean and so were the co...
4,1178162,5171140,2013-06-16,6848427,Andrew,Great location. Just 5 mins walk from the Airp...

In [3]:
reviews.dtypes

listing_id        int64
id                int64
date             object
reviewer_id       int64
reviewer_name    object
comments         object
dtype: object

In [4]:
# covert listing_id from int to object

reviews['listing_id']=reviews['listing_id'].astype('object')

# covert date from object to date

reviews['date']=pd.to_datetime(reviews.date)

In [5]:
reviews.dtypes

listing_id               object
id                        int64
date             datetime64[ns]
reviewer_id               int64
reviewer_name            object
comments                 object
dtype: object

In [6]:
# drop id from reviews table

reviews1=reviews.drop(['id'], axis=1)

In [8]:
reviews1.head()

,listing_id,date,reviewer_id,reviewer_name,comments
0,1178162,2013-05-21,4298113,Olivier,My stay at islam's place was really cool! Good...
1,1178162,2013-05-29,6452964,Charlotte,Great location for both airport and city - gre...
2,1178162,2013-06-06,6449554,Sebastian,We really enjoyed our stay at Islams house. Fr...
3,1178162,2013-06-15,2215611,Marine,The room was nice and clean and so were the co...
4,1178162,2013-06-16,6848427,Andrew,Great location. Just 5 mins walk from the Airp...

# Merging Dataframe

## Merge data from listings and reviews

In [8]:
# inner join gives us all listing appear in both tables

combined_inner=listing.merge(reviews1, left_on='id', right_on='listing_id', how='inner')

# left join gives us all listing appear in both tables and also listings that do not have a review yet

combined_left=listing.merge(reviews1, left_on='id', right_on='listing_id', how='left')

# right join gives us all listing appear in both tables and also reviews that have no matching listing id in the listing table (bad data)

combined_right=listing.merge(reviews1, left_on='id', right_on='listing_id', how='right')

# outer join gives us all listings appear in both tables and in either of the left/right tables

combined_outer=listing.merge(reviews1, left_on='id', right_on='listing_id', how='outer')

In [9]:
print(combined_inner.shape, combined_left.shape,combined_right.shape,combined_outer.shape)

(68260, 31) (69007, 31) (68275, 31) (69022, 31)

In [10]:
combined_inner.head()

,id,listing_url,name,neighbourhood,city,state,zipcode,latitude,longitude,host_name,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,listing_id,date,reviewer_id,reviewer_name,comments
0,3075044,https://www.airbnb.com/rooms/3075044,Charming room in pet friendly apt,Roslindale,Boston,MA,02131,42.286241,-71.134374,Andrea,...,9.0,10.0,10.0,9.0,9.0,3075044,2014-06-01,9645972,Dmitrii,Andrea is a great host. Neighborhood is wonder...
1,3075044,https://www.airbnb.com/rooms/3075044,Charming room in pet friendly apt,Roslindale,Boston,MA,02131,42.286241,-71.134374,Andrea,...,9.0,10.0,10.0,9.0,9.0,3075044,2014-06-06,12020681,Paola,We had a great time at Andrea's place. He is v...
2,3075044,https://www.airbnb.com/rooms/3075044,Charming room in pet friendly apt,Roslindale,Boston,MA,02131,42.286241,-71.134374,Andrea,...,9.0,10.0,10.0,9.0,9.0,3075044,2014-06-30,8165047,Jaydee,Adrea was very welcoming and flexible to our n...
3,3075044,https://www.airbnb.com/rooms/3075044,Charming room in pet friendly apt,Roslindale,Boston,MA,02131,42.286241,-71.134374,Andrea,...,9.0,10.0,10.0,9.0,9.0,3075044,2014-09-18,21319433,Anthony,Andrea made us feel welcome because he made th...
4,3075044,https://www.airbnb.com/rooms/3075044,Charming room in pet friendly apt,Roslindale,Boston,MA,02131,42.286241,-71.134374,Andrea,...,9.0,10.0,10.0,9.0,9.0,3075044,2014-09-27,21706950,Xinny,Me and my friend were so happy about Andrea's ...

# Binning

## Classify price into different range. Create 4 bins for price

In [11]:
listing['price_level']=pd.cut(listing.price, bins=4, labels=['low', 'medium', 'high', 'very high'])

In [12]:
listing['price_level'].value_counts()

low          3002
medium        517
high           46
very high       8
Name: price_level, dtype: int64

In [14]:
listing['price_level']=pd.cut(listing.price, bins=4)

listing['price_level'].value_counts()

(19.02, 265.0]     3002
(265.0, 510.0]      517
(510.0, 755.0]       46
(755.0, 1000.0]       8
Name: price_level, dtype: int64

In [15]:
listing['price_level']=pd.cut(listing.price, bins=[0, 100, 200, 300, 400, 500, 1000])

listing['price_level'].value_counts()

(100, 200]     1337
(0, 100]       1250
(200, 300]      648
(300, 400]      222
(400, 500]       60
(500, 1000]      56
Name: price_level, dtype: int64

# Summarizing Dataframes

In [72]:
listing.columns

Index(['id', 'listing_url', 'name', 'neighbourhood', 'city', 'state',
       'zipcode', 'latitude', 'longitude', 'host_name', 'property_type',
       'room_type', 'accommodates', 'bathrooms', 'bedrooms', 'beds',
       'bed_type', 'amenities', 'price', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value', 'price_level'],
      dtype='object')

In [17]:
# display max, min, average price for all listings

listing['price'].agg(['mean', 'min', 'max'])

mean     169.626644
min       20.000000
max     1000.000000
Name: price, dtype: float64

In [20]:
# display max, min, average price and review_score_rating, and average number of bedrooms for all listings

listing[['price', 'review_scores_rating', 'bedrooms']].agg({
    'price':['mean', 'min', 'max'],
    'review_scores_rating': ['mean', 'min', 'max'],
    "bedrooms": 'mean'
}
).sort_index()

            price  review_scores_rating  bedrooms
max   1000.000000            100.000000       NaN
mean   169.626644             91.910999  1.254845
min     20.000000             20.000000       NaN

# Using groupby


## display count, mean, max, min price for all listing by neighborhood. Limit to top 5 neighbourhood based on number of listings

In [21]:
# show mean for all numerical columns

listing.groupby('neighbourhood').mean()

,id,latitude,longitude,accommodates,bathrooms,bedrooms,beds,price,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
neighbourhood,,,,,,,,,,,,,,,
Allston,9.939201e+06,42.354490,-71.130603,2.559846,1.227799,1.173745,1.420849,112.698842,90.669884,9.328549,9.069989,9.600042,9.611702,9.280731,9.081553
Back Bay,8.002780e+06,42.349464,-71.081209,3.245847,1.161130,1.105541,1.531561,237.598007,91.586656,9.353766,9.295783,9.573606,9.573662,9.831651,9.130471
Bay Village,9.089334e+06,42.349222,-71.068435,3.541667,1.458333,1.458333,1.833333,266.833333,92.638889,9.352190,9.252680,9.715431,9.757183,9.763014,9.139411
Beacon Hill,8.025664e+06,42.359043,-71.067841,2.843750,1.114583,1.074250,1.479167,213.343750,93.203559,9.444571,9.318713,9.763078,9.737069,9.869464,9.234571
Brighton,8.938194e+06,42.347561,-71.150239,2.740541,1.178378,1.243243,1.572973,118.767568,91.160360,9.396982,9.137395,9.646526,9.668219,9.316380,9.160801
Charlestown,8.981856e+06,42.379216,-71.066982,3.207207,1.256757,1.423423,1.702703,198.045045,93.135886,9.541486,9.378662,9.726309,9.771434,9.472896,9.305299
Chinatown,9.832464e+06,42.350481,-71.061289,3.732394,1.316901,1.450704,1.732394,232.352113,92.035211,9.393622,9.320299,9.526603,9.597133,9.343962,9.141508
Dorchester,7.713704e+06,42.304301,-71.062219,2.617100,1.198674,1.315985,1.561798,91.639405,89.711276,9.319153,9.029256,9.623530,9.613735,8.771866,9.069036
Downtown,8.811625e+06,42.356540,-71.061078,3.649123,1.248538,1.233918,1.701754,237.783626,92.272417,9.373528,9.360679,9.580430,9.568813,9.607861,9.157406
East Boston,8.929267e+06,42.374669,-71.030639,2.906667,1.163333,1.260000,1.606667,119.153333,90.425556,9.366947,9.170751,9.613654,9.620345,9.065311,9.062369
Fenway,8.981211e+06,42.345095,-71.095985,2.975610,1.228025,1.149826,1.520979,199.536585,90.288037,9.317144,9.056865,9.442237,9.452780,9.554817,8.955261
Hyde Park,8.692904e+06,42.255385,-71.119341,2.483871,1.193548,1.354839,1.419355,86.548387,92.209677,9.406111,9.114460,9.802508,9.802558,9.112395,9.161594
Jamaica Plain,7.133913e+06,42.311871,-71.110171,3.198251,1.219305,1.483965,1.749271,138.478134,93.845481,9.640171,9.391796,9.819306,9.809565,9.448612,9.411298
Leather District,7.293484e+06,42.351241,-71.058040,2.800000,1.200000,1.400000,1.800000,253.600000,95.766667,9.772629,9.703216,9.858517,9.858619,9.365617,9.467294
Longwood Medical Area,9.017886e+06,42.340455,-71.108317,2.666667,1.111111,1.111111,1.750000,138.444444,92.611111,9.509936,9.283139,9.653084,9.764366,9.609362,9.223267
Mattapan,7.868596e+06,42.275926,-71.081309,2.500000,1.229167,1.041667,1.625000,75.125000,91.229167,9.316226,8.897844,9.619907,9.578304,8.520177,9.083725
Mission Hill,9.138039e+06,42.331803,-71.103530,2.435484,1.193548,1.161290,1.487805,121.967742,89.125000,9.310948,8.845466,9.457989,9.468992,9.211435,8.809696
North End,8.155518e+06,42.365239,-71.054493,3.391608,1.125478,1.321678,1.830986,195.678322,93.434149,9.516966,9.307237,9.691362,9.747347,9.856804,9.299786
Roslindale,5.830170e+06,42.284490,-71.131020,3.071429,1.241071,1.267857,1.696429,98.428571,95.008929,9.724811,9.616933,9.908531,9.908559,9.276505,9.535882
Roxbury,8.105014e+06,42.328109,-71.085460,3.139860,1.231526,1.265734,1.750000,137.566434,90.187646,9.333234,9.144819,9.604545,9.523149,8.490763,8.989807
South Boston,8.905961e+06,42.334991,-71.047037,3.488506,1.445402,1.465517,1.827586,187.609195,93.731322,9.621052,9.559879,9.807886,9.784928,9.371810,9.353637
South Boston Waterfront,1.049489e+07,42.348765,-71.045121,3.703704,1.444444,1.370370,1.814815,261.148148,93.717078,9.529952,9.567098,9.615614,9.640378,9.611395,9.208264
South End,7.688284e+06,42.342239,-71.073941,2.870769,1.132133,1.075494,1.418462,200.978462,93.003590,9.503383,9.445256,9.704119,9.701087,9.664660,9.244890
West End,7.954782e+06,42.364140,-71.068259,3.857143,1.459184,1.530612,1.836735,209.591837,91.044218,9.152950,9.177080,9.269764,9.249471,9.553244,8.973493
West Roxbury,9.437850e+06,42.282511,-71.156261,3.000000,1.434783,1.347826,1.782609,107.108696,94.280797,9.578488,9.572925,9.791344,9.747938,9.443099,9.373631

In [26]:
# only show the mean for the price

listing.groupby('neighbourhood')['price'].mean().sort_values(ascending=False).head(5)

neighbourhood
Bay Village                266.833333
South Boston Waterfront    261.148148
Leather District           253.600000
Downtown                   237.783626
Back Bay                   237.598007
Name: price, dtype: float64

In [27]:
# display count, mean, min and max price by nieghbourhood

listing.groupby('neighbourhood')['price'].agg(['count', 'mean', 'min', 'max'])

                         count        mean    min     max
neighbourhood
Allston                    259  112.698842   20.0   550.0
Back Bay                   301  237.598007   40.0   975.0
Bay Village                 24  266.833333   90.0   500.0
Beacon Hill                192  213.343750   75.0   849.0
Brighton                   185  118.767568   29.0   999.0
Charlestown                111  198.045045   39.0  1000.0
Chinatown                   71  232.352113   80.0   399.0
Dorchester                 269   91.639405   25.0   395.0
Downtown                   171  237.783626   60.0   600.0
East Boston                150  119.153333   30.0   359.0
Fenway                     287  199.536585   30.0   750.0
Hyde Park                   31   86.548387   31.0   269.0
Jamaica Plain              343  138.478134   22.0   750.0
Leather District             5  253.600000  159.0   390.0
Longwood Medical Area        9  138.444444   60.0   350.0
Mattapan                    24   75.125000   40.0   169.0
Mission Hill               124  121.967742   20.0   872.0
North End                  143  195.678322   35.0   600.0
Roslindale                  56   98.428571   40.0   285.0
Roxbury                    143  137.566434   22.0   650.0
South Boston               174  187.609195   45.0  1000.0
South Boston Waterfront     81  261.148148  115.0   603.0
South End                  325  200.978462   45.0   800.0
West End                    49  209.591837   60.0   450.0
West Roxbury                46  107.108696   45.0   349.0

In [29]:
# limit to top 5 neighbourhood based on number of listing

listing.groupby('neighbourhood')['price'].agg(['count', 'mean', 'min', 'max']).\
sort_values(by=['count'], ascending=False).head(5)

               count        mean   min    max
neighbourhood
Jamaica Plain    343  138.478134  22.0  750.0
South End        325  200.978462  45.0  800.0
Back Bay         301  237.598007  40.0  975.0
Fenway           287  199.536585  30.0  750.0
Dorchester       269   91.639405  25.0  395.0

In [7]:
# sort the value by count

## Explore amenities

- what are the most popular amenities?

In [30]:
listing['amenities']

0       {TV,"Wireless Internet",Kitchen,"Free Parking ...
1       {TV,Internet,"Wireless Internet","Air Conditio...
2       {TV,"Cable TV","Wireless Internet","Air Condit...
3       {TV,Internet,"Wireless Internet","Air Conditio...
4       {Internet,"Wireless Internet","Air Conditionin...
                              ...
3568    {Internet,"Wireless Internet","Air Conditionin...
3569    {TV,Internet,"Wireless Internet","Air Conditio...
3570    {"translation missing: en.hosting_amenity_49",...
3571    {Kitchen,Gym,"Family/Kid Friendly",Washer,Drye...
3572    {"Wireless Internet",Kitchen,Essentials,"trans...
Name: amenities, Length: 3573, dtype: object

In [31]:
# increase width of pandas column to see the full content of amenities

pd.set_option('display.max_colwidth', 100)

listing['amenities']

0       {TV,"Wireless Internet",Kitchen,"Free Parking on Premises","Pets live on this property",Dog(s),H...
1       {TV,Internet,"Wireless Internet","Air Conditioning",Kitchen,"Pets Allowed","Pets live on this pr...
2       {TV,"Cable TV","Wireless Internet","Air Conditioning",Kitchen,"Free Parking on Premises",Heating...
3       {TV,Internet,"Wireless Internet","Air Conditioning",Kitchen,"Free Parking on Premises",Gym,Break...
4       {Internet,"Wireless Internet","Air Conditioning",Kitchen,Breakfast,Heating,"Smoke Detector","Car...
                                                       ...
3568    {Internet,"Wireless Internet","Air Conditioning",Kitchen,"Free Parking on Premises",Heating,"Fam...
3569    {TV,Internet,"Wireless Internet","Air Conditioning",Kitchen,"Free Parking on Premises","Smoking ...
3570            {"translation missing: en.hosting_amenity_49","translation missing: en.hosting_amenity_50"}
3571    {Kitchen,Gym,"Family/Kid Friendly",Washer,Dryer,Essentials,Hangers,"translation missing: en.host...
3572    {"Wireless Internet",Kitchen,Essentials,"translation missing: en.hosting_amenity_49","translatio...
Name: amenities, Length: 3573, dtype: object

In [39]:
listing['amenities1']=listing['amenities'].str.split(",")

listing['amenities2']=listing['amenities1'].explode(ignore_index=True)

listing['amenities3']=listing['amenities2'].str.replace(" ", "_").str.replace("{|}|\"", "")

listing['amenities3']

0                               TV
1                Wireless_Internet
2                          Kitchen
3         Free_Parking_on_Premises
4       Pets_live_on_this_property
                   ...
3568                Smoke_Detector
3569      Carbon_Monoxide_Detector
3570                 First_Aid_Kit
3571                   Safety_Card
3572             Fire_Extinguisher
Name: amenities3, Length: 3573, dtype: object

In [41]:
# show top 10 amenities

listing['amenities3'].value_counts().head(10)

Wireless_Internet           217
Heating                     212
Smoke_Detector              194
Kitchen                     194
Essentials                  185
Carbon_Monoxide_Detector    171
Washer                      163
Dryer                       162
Internet                    156
Air_Conditioning            145
Name: amenities3, dtype: int64

In [46]:
# for the top 10 amenities, what are the average price by amenities.

top10_amenities=listing['amenities3'].value_counts().head(10).index

top10_amenities

listing[listing['amenities3'].isin(top10_amenities)].groupby('amenities3')['price'].mean().sort_values(ascending=False)

amenities3
Internet                    194.705128
Heating                     177.627358
Washer                      171.613497
Dryer                       170.006173
Air_Conditioning            169.862069
Wireless_Internet           169.294931
Carbon_Monoxide_Detector    168.497076
Essentials                  168.205405
Kitchen                     166.149485
Smoke_Detector              162.381443
Name: price, dtype: float64

In [55]:
# for the top 10 amenities, what are the average price by amenities by neighbourhood. Limit to top 5 neighbourhood
top5_neighbourhood=listing.groupby('neighbourhood')['price'].agg(['count', 'mean', 'min', 'max']).\
sort_values(by=['count'], ascending=False).head(5).index

condition= (listing['amenities3'].isin(top10_amenities)) & (listing['neighbourhood'].isin(top5_neighbourhood))

listing[condition].groupby(['neighbourhood', 'amenities3'])\
['price'].mean().sort_values(ascending=False).reset_index().sort_values(by='neighbourhood')

    neighbourhood                amenities3       price
0        Back Bay                Essentials  264.941176
12       Back Bay                   Kitchen  228.368421
10       Back Bay         Wireless_Internet  233.400000
7        Back Bay  Carbon_Monoxide_Detector  244.076923
6        Back Bay                     Dryer  244.933333
9        Back Bay            Smoke_Detector  237.933333
4        Back Bay                  Internet  247.153846
2        Back Bay                    Washer  250.812500
5        Back Bay                   Heating  246.900000
18       Back Bay          Air_Conditioning  214.125000
46     Dorchester                Essentials   86.500000
45     Dorchester          Air_Conditioning   88.000000
48     Dorchester                   Kitchen   76.266667
44     Dorchester                  Internet   91.166667
47     Dorchester  Carbon_Monoxide_Detector   82.714286
43     Dorchester            Smoke_Detector   96.000000
42     Dorchester                    Washer   96.692308
41     Dorchester                   Heating  101.714286
40     Dorchester         Wireless_Internet  106.375000
49     Dorchester                     Dryer   72.384615
1          Fenway  Carbon_Monoxide_Detector  251.571429
22         Fenway                    Washer  201.400000
3          Fenway                Essentials  250.125000
11         Fenway            Smoke_Detector  231.500000
25         Fenway                   Kitchen  184.785714
26         Fenway          Air_Conditioning  181.875000
15         Fenway                   Heating  220.266667
16         Fenway                  Internet  219.857143
31         Fenway         Wireless_Internet  159.000000
19         Fenway                     Dryer  212.777778
34  Jamaica Plain            Smoke_Detector  148.100000
39  Jamaica Plain         Wireless_Internet  107.590909
38  Jamaica Plain                   Kitchen  112.833333
37  Jamaica Plain                     Dryer  120.153846
36  Jamaica Plain  Carbon_Monoxide_Detector  123.333333
24  Jamaica Plain                  Internet  185.062500
33  Jamaica Plain          Air_Conditioning  152.764706
32  Jamaica Plain                Essentials  154.250000
28  Jamaica Plain                    Washer  175.230769
35  Jamaica Plain                   Heating  138.047619
30      South End                Essentials  159.117647
29      South End                   Kitchen  172.631579
27      South End                     Dryer  177.000000
14      South End  Carbon_Monoxide_Detector  221.066667
13      South End          Air_Conditioning  224.692308
17      South End                    Washer  214.647059
8       South End                  Internet  238.384615
23      South End                   Heating  196.904762
21      South End            Smoke_Detector  211.111111
20      South End         Wireless_Internet  212.454545

In [50]:
top5_neighbourhood

Index(['Jamaica Plain', 'South End', 'Back Bay', 'Fenway', 'Dorchester'], dtype='object', name='neighbourhood')

# Pivot table and crosstabs

In [18]:
# for the top 10 amenities, what are the average price by amenities by neighbourhood. Limit to top 5 neighbourhood

condition=(listing.amenities2.isin(top10_amenities)) & (listing.neighbourhood.isin(top5))

listing2=listing[condition]

listing2.pivot_table(
    index='neighbourhood',
    columns='amenities2',
    values='price',
    aggfunc='mean'
).reset_index()

amenities2,neighbourhood,"""Air Conditioning""","""Carbon Monoxide Detector""","""Smoke Detector""","""Wireless Internet""",Dryer,Essentials,Heating,Kitchen,Washer,{TV
0,Back Bay,214.125000,244.076923,237.933333,249.928571,244.933333,288.384615,243.105263,228.368421,250.812500,219.250000
1,Dorchester,88.000000,82.714286,96.000000,109.133333,73.416667,85.363636,101.714286,76.266667,96.692308,76.900000
2,Fenway,181.875000,251.571429,231.500000,159.928571,212.777778,216.800000,220.266667,184.785714,201.400000,168.636364
3,Jamaica Plain,152.764706,123.333333,148.100000,109.619048,120.153846,154.250000,138.047619,112.833333,175.230769,163.000000
4,South End,224.692308,221.066667,211.111111,219.611111,173.647059,147.800000,196.904762,172.631579,214.647059,237.181818

In [19]:
# modify the above query to show the average price by amenities by property type for each neighbourhood

condition=(listing.amenities2.isin(top10_amenities)) & (listing.neighbourhood.isin(top5))

listing2=listing[condition]

listing2.pivot_table(
    index=['neighbourhood','property_type'],
    columns='amenities3',
    values='price',
    aggfunc='mean'
).reset_index()

amenities3,neighbourhood,property_type,Air_Conditioning,Carbon_Monoxide_Detector,Dryer,Essentials,Heating,Kitchen,Smoke_Detector,TV,Washer,Wireless_Internet
0,Back Bay,Apartment,244.000000,247.750000,241.785714,262.272727,268.285714,228.588235,237.933333,219.250000,244.200000,266.076923
1,Back Bay,Condominium,89.000000,200.000000,289.000000,432.000000,172.000000,235.000000,NaN,NaN,350.000000,NaN
2,Back Bay,Loft,160.000000,NaN,NaN,NaN,175.000000,NaN,NaN,NaN,NaN,NaN
3,Back Bay,Other,NaN,NaN,NaN,NaN,NaN,218.000000,NaN,NaN,NaN,40.000000
4,Dorchester,Apartment,94.666667,78.700000,84.333333,61.333333,81.375000,78.625000,73.500000,73.333333,114.857143,152.857143
5,Dorchester,Bed & Breakfast,NaN,NaN,NaN,NaN,89.500000,NaN,NaN,NaN,NaN,100.000000
6,Dorchester,Condominium,80.000000,NaN,NaN,189.000000,NaN,61.333333,155.000000,NaN,NaN,NaN
7,Dorchester,House,77.333333,92.750000,64.000000,95.500000,148.500000,90.666667,70.750000,85.333333,75.500000,66.714286
8,Dorchester,Townhouse,NaN,NaN,55.000000,NaN,NaN,59.000000,NaN,73.000000,NaN,NaN
9,Fenway,Apartment,181.875000,256.307692,212.777778,216.800000,235.166667,184.785714,223.600000,168.000000,201.400000,150.769231
10,Fenway,Bed & Breakfast,NaN,NaN,NaN,NaN,NaN,NaN,NaN,175.000000,NaN,NaN
11,Fenway,Condominium,NaN,NaN,NaN,NaN,166.500000,NaN,350.000000,NaN,NaN,279.000000
12,Fenway,House,NaN,190.000000,NaN,NaN,149.000000,NaN,NaN,NaN,NaN,NaN
13,Jamaica Plain,Apartment,156.083333,145.500000,109.333333,117.250000,104.600000,84.900000,129.200000,143.818182,181.750000,126.900000
14,Jamaica Plain,Bed & Breakfast,NaN,80.000000,70.000000,NaN,NaN,NaN,119.000000,NaN,NaN,60.000000
15,Jamaica Plain,Condominium,NaN,NaN,224.000000,NaN,NaN,172.333333,192.500000,145.000000,122.000000,NaN
16,Jamaica Plain,House,159.750000,106.000000,60.000000,209.285714,158.500000,111.250000,260.000000,480.000000,193.333333,95.000000
17,Jamaica Plain,Loft,NaN,NaN,NaN,NaN,NaN,220.000000,NaN,NaN,NaN,130.000000
18,Jamaica Plain,Townhouse,85.000000,75.000000,NaN,65.000000,78.500000,NaN,NaN,75.000000,NaN,89.000000
19,South End,Apartment,187.625000,220.500000,181.133333,143.076923,181.166667,178.733333,199.800000,208.777778,208.000000,197.428571
20,South End,Bed & Breakfast,325.000000,NaN,NaN,168.000000,299.000000,NaN,NaN,NaN,NaN,NaN
21,South End,Condominium,115.000000,350.000000,110.000000,189.000000,NaN,250.000000,133.000000,600.000000,264.500000,282.000000
22,South End,Dorm,NaN,NaN,NaN,NaN,75.000000,NaN,NaN,NaN,NaN,NaN
23,South End,House,410.000000,220.000000,125.000000,NaN,NaN,135.000000,NaN,130.000000,NaN,NaN
24,South End,Loft,NaN,100.000000,NaN,NaN,NaN,69.000000,NaN,NaN,NaN,50.000000
25,South End,Other,NaN,NaN,NaN,NaN,500.000000,NaN,500.000000,NaN,NaN,NaN
26,South End,Townhouse,160.000000,NaN,NaN,NaN,NaN,145.000000,170.000000,NaN,NaN,575.000000

We can use the pd.crosstab() function to create a frequency table. For examplem, we want to see number of listing by neighbourhood and property type

In [20]:
pd.crosstab(
    index=listing2.neighbourhood,
    columns=listing2.property_type,
    colnames=['property type'] # name the columns index
)

property type,Apartment,Bed & Breakfast,Condominium,Dorm,House,Loft,Other,Townhouse
neighbourhood,,,,,,,,
Back Bay,129,0,11,0,0,2,2,0
Dorchester,70,3,9,0,43,0,0,3
Fenway,119,1,4,0,2,0,0,0
Jamaica Plain,98,5,10,0,48,2,0,8
South End,134,3,11,1,6,3,2,4

In [21]:
# We can normalize with the row or column totals with the normalize parameter. This shows percentage of the total

pd.crosstab(
    index=listing2.neighbourhood,
    columns=listing2.property_type,
    colnames=['property type'],  # name the columns index
    normalize='columns'         # normalize by column
)

property type,Apartment,Bed & Breakfast,Condominium,Dorm,House,Loft,Other,Townhouse
neighbourhood,,,,,,,,
Back Bay,0.234545,0.000000,0.244444,0.0,0.000000,0.285714,0.5,0.000000
Dorchester,0.127273,0.250000,0.200000,0.0,0.434343,0.000000,0.0,0.200000
Fenway,0.216364,0.083333,0.088889,0.0,0.020202,0.000000,0.0,0.000000
Jamaica Plain,0.178182,0.416667,0.222222,0.0,0.484848,0.285714,0.0,0.533333
South End,0.243636,0.250000,0.244444,1.0,0.060606,0.428571,0.5,0.266667

In [22]:
pd.crosstab(
    index=listing2.neighbourhood,
    columns=listing2.property_type,
    colnames=['property type'],  # name the columns index
    normalize='index'  # normalize by row/index
)

property type,Apartment,Bed & Breakfast,Condominium,Dorm,House,Loft,Other,Townhouse
neighbourhood,,,,,,,,
Back Bay,0.895833,0.000000,0.076389,0.000000,0.000000,0.013889,0.013889,0.000000
Dorchester,0.546875,0.023438,0.070312,0.000000,0.335938,0.000000,0.000000,0.023438
Fenway,0.944444,0.007937,0.031746,0.000000,0.015873,0.000000,0.000000,0.000000
Jamaica Plain,0.573099,0.029240,0.058480,0.000000,0.280702,0.011696,0.000000,0.046784
South End,0.817073,0.018293,0.067073,0.006098,0.036585,0.018293,0.012195,0.024390

##  Working with date
extract year, month, weekday

In [23]:
reviews=pd.read_csv('https://raw.githubusercontent.com/Suhong88/AA630_Spring2023/main/airbnb_boston/reviews.csv')

# covert listing_id from int to object

reviews['listing_id']=reviews['listing_id'].astype('object')

# covert date from object to date

reviews['date']=pd.to_datetime(reviews.date)

reviews.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,1178162,4724140,2013-05-21,4298113,Olivier,My stay at islam's place was really cool! Good...
1,1178162,4869189,2013-05-29,6452964,Charlotte,Great location for both airport and city - gre...
2,1178162,5003196,2013-06-06,6449554,Sebastian,We really enjoyed our stay at Islams house. Fr...
3,1178162,5150351,2013-06-15,2215611,Marine,The room was nice and clean and so were the co...
4,1178162,5171140,2013-06-16,6848427,Andrew,Great location. Just 5 mins walk from the Airp...

In [11]:
# create a column for year, month and weekday

In [12]:
# show number of review by weekday

In [13]:
# show number of reviews by year

# Take home assgnments

## Please complete the following five questions based on cleaned listing data.

- 1. List top 5 neighbourhood that have the best review scores rating
- 2. Display number of listing, average review score rating, highest and highest review scores rating by nighbourhood by property type
- 3. List top 10 amenities that have the highest average review score rating
- 4. For each of the top 5 amenities with the highest average review scores rating, show the number of listing, average price and average review scores rating by neighbourhood.
- 5. Which neighbourhood has the best review scores in location? Are listings with higher review scores in location also has the higher price? (hint use corr() function)

In [28]:
import pandas as pd
import numpy as np

## Load the data for further analysis

#listing=pd.read_csv('airbnb_boston/listings_cleaned.csv')

df=pd.read_csv('https://raw.githubusercontent.com/Suhong88/AA630_Spring2023/main/listings_cleaned.csv')

df.head()

,id,listing_url,name,neighbourhood,city,state,zipcode,latitude,longitude,host_name,...,bed_type,amenities,price,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
0,12147973,https://www.airbnb.com/rooms/12147973,Sunny Bungalow in the City,Roslindale,Boston,MA,02131,42.282619,-71.133068,Virginia,...,Real Bed,"{TV,""Wireless Internet"",Kitchen,""Free Parking ...",250.0,91.916667,9.431571,9.258041,9.646293,9.646549,9.414043,9.168234
1,3075044,https://www.airbnb.com/rooms/3075044,Charming room in pet friendly apt,Roslindale,Boston,MA,02131,42.286241,-71.134374,Andrea,...,Real Bed,"{TV,Internet,""Wireless Internet"",""Air Conditio...",65.0,94.000000,10.000000,9.000000,10.000000,10.000000,9.000000,9.000000
2,6976,https://www.airbnb.com/rooms/6976,Mexican Folk Art Haven in Boston,Roslindale,Boston,MA,02131,42.292438,-71.135765,Phil,...,Real Bed,"{TV,""Cable TV"",""Wireless Internet"",""Air Condit...",65.0,98.000000,10.000000,9.000000,10.000000,10.000000,9.000000,10.000000
3,1436513,https://www.airbnb.com/rooms/1436513,Spacious Sunny Bedroom Suite in Historic Home,Roslindale,Boston,MA,NaN,42.281106,-71.121021,Meghna,...,Real Bed,"{TV,Internet,""Wireless Internet"",""Air Conditio...",75.0,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
4,7651065,https://www.airbnb.com/rooms/7651065,Come Home to Boston,Roslindale,Boston,MA,02131,42.284512,-71.136258,Linda,...,Real Bed,"{Internet,""Wireless Internet"",""Air Conditionin...",79.0,99.000000,10.000000,10.000000,10.000000,10.000000,9.000000,10.000000

# 1. List top 5 neighbourhood that have the best review scores rating

# 2. Display number of listing, average review score rating, highest and highest review scores rating by nighbourhood by property type

# 3. List top 10 amenities that have the highest average review score rating

# 4. For each of the top 5 amenities with the highest average review scores rating, show the number of listing, average price and average review scores rating by neighbourhood.

# 5. Which neighbourhood has the best review scores in location? Are listings with higher review scores in location also has the higher price? (hint use corr() function)